@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');

$main-color: #576134;
$secondary-color: #F7FFDC;
$accent-color-blue: #354242;
$accent-color-green: #95A752;
$button-color: #C8D3A5;
$main-font: 'Kotta One',
serif;

html,
body {
    background-color: $main-color;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
}

a {
    font-family: $main-font;
}

.inner-box {
    display: flex;
    flex-direction: column;
    align-items: center; // Centers content horizontally
    justify-content: center; // Centers content vertically
    flex-grow: 1;
    margin: 0px 18px 16px 15px;
    background-color: $secondary-color;
    border-style: solid;
    border-color: $accent-color-blue;
    border-width: 1px;
    border-radius: 0px 0px 15px 15px;

    .sub-box {
        height: 85%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .divider {
            height: 1px;
            background-color: $accent-color-blue;
            width: 80%;
        }

        .line {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 15px;

            font-size: 24px;
            margin: 0px;

            img {
                height: 68px;
                align-self: center;
            }
        }

        .header {
            font-size: 36px;
        }

        .tea-medium {
            height: 122px;
        }

        .tea-big {
            height: 149px;
        }

        p {
            color: $accent-color-blue;
        }

    }

}

.buttons-row {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.selection-grid {
    width: 315px;
    height: 315px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    justify-items: center;
    align-items: center;
}

.tea-button {
    width: 150px;
    height: 150px;
    background-color: $button-color;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    color: $accent-color-blue;
    font-size: 16px;

    border-radius: 10px;
    border-style: solid;
    border-color: $accent-color-blue;
    border-width: 1px;

    position: relative;
    transition: box-shadow 0.3s ease-in-out;

    :visited,
    :hover,
    :active {
        text-decoration: none;
    }

    :hover,
    :active {
        box-shadow: inset 0px 0px 20px 6px rgba($accent-color-blue, 0.5);
    }

    img {
        width: 80px;
        height: 96px;
        pointer-events: none;
    }
}

#title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;

    -webkit-app-region: drag;
    /* Makes the title bar draggable */

    div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .left {
        margin-left: 15px;
        margin-top: auto;
        margin-bottom: auto;

        img {
            width: 32px;
            height: 32px;
        }
    }

    .right {
        margin-right: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

    p {
        font-size: 28px;
        margin: 0px;
        color: $secondary-color;
    }

    button {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border-style: solid;
        border-color: $secondary-color;
        border-width: 4px;
        background-color: $main-color;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 0;
            height: 15px;
            width: 15px;
        }
    }
}

button {
    -webkit-app-region: no-drag;
    /* Buttons in title bar won't work without that */
    font-family: $main-font;
}

.basic-button {
    width: 158px;
    height: 42px;
    font-size: 24px;
    background-color: $main-color;
    color: $secondary-color;
    border-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px $accent-color-green;
}

h1 {
    margin-bottom: 32px;
    font-weight: normal;
    color: $accent-color-blue;
    font-size: 32px;
}

h2 {
    margin-bottom: 24px;
    font-weight: normal;
    color: $accent-color-blue;
    font-size: 24px;
}

.text-48px {
    font-size: 48px;
    color: $accent-color-blue;
    margin: 0px;
}

#timer {
    font-size: 64px;
    font-weight: bold;
    color: $main-color;
}